- content_for :title do
  = @title

- content_for :head do
  :javascript
    var app_root = "#{app_root}";
    var omikuji_api = app_root+'/omikuji.json';
  %script{:type => 'text/javascript', :src => "#{app_root}/js/main.js"}

%input{:id => 'start_btn', :type => 'button', :value => 'start'}
%div
  result
  %ul#results
